*{
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  z-index: 1;
  font-family: 'Cormorant Garamond';
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  color: black;
}

ul{
  list-style-type: none;
}